.page {
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;

    .login {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #2C043A;
        color: #fff;
        width: 20em;
        height: 30em;
        border-radius: 1em;
        box-shadow: 0 0.188em 1.550em rgb(154, 156, 156); 
        flex-direction: column;
        gap: 1.5rem;
        
    }
    
    
    .rTitle {
        text-transform: uppercase;
        color: #fff;
    }
    
    .lInput {
        height: 20px;
        width: 250px;
        text-transform: capitalize;
        border-radius: 5px;
        padding: 10px;
    }
    
    .lButton {
        width: 10em;
        border: none;
        padding: 10px;
        background-color: #00ac1d;
        color: white;
        font-weight: bold;
        cursor: pointer;
        border-radius: 5px;
    } 
    
    .lButton:disabled {
        background-color: #2C043A;
        cursor: not-allowed;
    }
    
    .rLinkTo{
        text-decoration: none;
        color: #fff;
    }
    
    .fError {
        color: red;
    }
}

